/* =====================
External links
======================*/

.external-links {
    display: block;
    min-width: 50px;
    min-height: 30px;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: -1px;
    color: white;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: none;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, .5);
    -webkit-animation: pulse 1.5s infinite;
    padding: .3em;
}

.external-links:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
    @include transform(scale(.9));
    }
    70% {
    @include transform(scale(1));
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
    @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.sel-note {
    font-size: .8em;
    font-style: italic;
}

/* =====================
Tooltips
======================*/

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    max-width: 300px;
    left: 0;
    top: 0;
    background: #3989c9;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: -3em;
}

/* =====================
Sliding panel
======================*/

.top-panel-selinks {
    background: #39464e;
    position: fixed;
    right: 0;
    width: 50%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 999;
}

/* Message block */
.message-selinks {
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 2em;
    margin: 0 auto;
    max-width: 980px
}

/* Level 1 heading */
.message-selinks h1 {
    color: #fff
}

/* Level 2 heading */
.message-selinks h2, p.check-source {
    color: #888
}

.open-selinks {
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
}

/* Switch panel */
label.btn-selinks {
    display: block;
    position: fixed;
    right: 1em;
    /*top: 100%;*/
    /*bottom: -35px;*/
    cursor: pointer;
    background: #5a99d4;
    border-radius: 0 0 3px 3px;
    padding: 8px 16px;
    color: #fff;
    font-size: 100%;
    line-height: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 999999;
}

/* Hover switch */
label.btn-selinks:hover {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

/* Down arrow */
label.btn-selinks:after {
    content: '\f078';
    font: normal 18px/1 FontAwesome;
    text-decoration: inherit
}

.open-selinks:checked ~ .top-panel-selinks {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s
}

.open-selinks:not(:checked) ~ .top-panel-selinks {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s
}

/* Click color switch */
.open-selinks:checked ~ label.btn-selinks {
    background: #dd6149
}

/* Up arrow */
.open-selinks:checked ~ label.btn-selinks:after {
    content: '\f077';
    font: normal 18px/1 FontAwesome;
}

p.list-of-links {
    color: #e58674;
}

.Table-row-item p {
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .modal .modal-dialog {
        left: 55%;
    }

    .top-panel-selinks, label.btn-selinks {
        position: absolute;
    }

    .top-panel-selinks {
        width: 100%;
    }

    .top-panel-selinks p {
        margin: 0;
    }
}

/* =====================
Table
======================*/

.Table {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    /*display: box;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    font-size: 1rem;
    margin: 0.5rem;
    line-height: 1.5;
}

.Table-row {
    width: 100%;
}

@media (min-width: 500px) {
    .Table-row {
        display: -webkit-box;
        display: -moz-box;
        /*display: box;*/
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
}

.Table-row-item {
    display: -webkit-box;
    display: -moz-box;
    /*display: box;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-preferred-size: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 0.5em;
    word-break: break-word;
}

@media (min-width: 500px) {
    .Table-row-item {
        padding: 0.5em;
    }

    .Table-row-item:before {
        content: none;
    }
}

.row-collection {
    overflow: auto;
    margin-right: -15px;
}